*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x:hidden ;
    font-family: Helvetica, Arial, sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: #fcf5eb;
}

.navabar{
    height: 80px;
    padding: 18px 15px 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    background-color: #fcf5eb;
    z-index: 100;
}
.navabar >img{
    width: 120px;
    height: 30px;
}
.navitems{ 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 20px;
}
.features{
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
    position: relative;
}

.features > img {
    transform: rotate(-90deg);
    width:10px ;
}

.features::after{
    position: absolute;
    content: "";
    background-color: #25d366;
    height: 2px;
    width: 100%;
    right: 0%;
    top: 19px;
    transform: scalex(0);
    transform-origin: left;
    transition: all 0.5s;
}
.features:hover::after{
    transform: scalex(1);
}

.navabar > button, .button, .footerbtn1{
    display: flex;
    align-items: center;
    background-color: #25d366;
    padding: 10px 25px;
    border-radius:50px;
    font-size: 20px;
    border: 1px solid black;
    gap: 10px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.button::after{
    z-index: -3;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: absolute;
    content: " ";
    opacity: 0;
    background-color: #fcf5eb;
    top: 0;
    right: 0;
    bottom: 0;
    left:-30px;
    transition: all 0.8s ;
    transform: translateY(50px);
}

.button:hover::after{
    opacity: 1;
    transform: translateY(0px) ;
    scale: 1.3;  
}

.navitems>p{
    cursor: pointer;
}

.slide{
    position: relative;
}

.slide::after{
    position: absolute;
    content: " ";
    background-color: #25d366;
    height: 2px;
    width: 100%;
    right: 0%;
    top: 19px;
    transform: scalex(0);
    transform-origin: left;
    transition: all 0.5s;
}
.slide:hover::after{
    transform: scalex(1);
}

.firstSection{
    padding: 0px 20px;
    padding-top: 25px;
    width: 100%;
    height:95%;
}
.maabeti{
    background-image: url(./whatsApp/MaaBeti.png);
   width: 100%;
   height: 90%;
   background-size: cover;
   border-radius: 20px;
   display: flex;
   /* justify-content: space-evenly; */
}

.left{
    width: 50%;

    padding-left: 17%;
}
.firstSection > p{
    padding-top: 5px;
    float: right;
    font-size: 12px;
    opacity: 0.8;
}

.message{
    color: white;
    display: flex;
    height: 90%;
    flex-direction: column;
    justify-content: center;
}

.message h1{
    font-size:80px;
    line-height: 80px;
    font-weight: 400;
    overflow: hidden;
}
.message p{
    font-size: 18px;
    line-height: 25px;
    opacity: 0.9;
}

.left button{
    transform: translatey(-45px);
}

.right{
    width: 50%;
    position: relative;
    padding-top: 40px;
    overflow: hidden;   
}

.right img:nth-child(1){
    width:350px;
    animation: gm 0.5s ease-in-out;
}

@keyframes gm {
    0%{
        transform: translateY(50px);

    }
    
    100%{
        transform: translate(0px);

    }
}

.right img:nth-child(2){
    width: 350px;
    position: absolute;

    top: 50px;
    /* right: 35px; */
    left: 0%;

    animation: dil 0.8s ease-in-out;
}
@keyframes dil {
    0%{
       
        opacity: 0;
      
    }
    75%{
     

        opacity: 0;
    }
    100%{
        
        opacity: 1;

    }
}

.right img:nth-child(3){
    width: 350px;
    
   animation: voice 1.2s ease-in-out;
}
@keyframes voice {
    0%{
        transform: translateY(50px);
        opacity: 0;

    }
    60%{
        opacity: 0;
    }
    
    100%{
        transform: translate(0px);

    }
 
}

.right img:nth-child(4){
    width: 350px;
    animation: pic 1.5s ease-in-out;
}
@keyframes pic {
    0%{
        transform: translateY(50px);
        opacity: 0;

    }
    75%{
        opacity: 0;
    }
    
    100%{
        transform: translate(0px);


    }
 

}
.right img:nth-child(5){
    width: 350px;
     animation: pic 1.8s ease-in-out;
}
@keyframes pic {
    0%{
        transform: translateY(50px);
        opacity: 0;

    }
    75%{
        opacity: 0;
    }
    
    100%{
        transform: translate(0px);


    }
}

.right img:nth-child(6){
    position: absolute;
    top: 410px;
    left: 0%;
    width: 350px;
     animation: pic 1.8s ease-in-out;
}
@keyframes pic {
    0%{
        transform: translateY(50px);
        opacity: 0;

    }
    75%{
        opacity: 0;
    }
    
    100%{
        transform: translate(0px);


    }
   
}

.right img:nth-child(7){
    width: 350px;
     animation: pic 2.1s ease-in-out;
}
@keyframes pic {
    0%{
        transform: translateY(50px);
        opacity: 0;

    }
    75%{
        opacity: 0;
    }
    
    100%{
        transform: translate(0px);


    }
}

.secondSection{
   overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:  10px;
    gap: 50px;
}

.secondSection >img{
    width: 85%;
}

.secondSection p{
    text-align: center;
    font-size: 3em;
    letter-spacing: -1px;
    font-weight: 700px;
    line-height: -3px;
}

.thirdSection{
overflow: hidden;
}


.firstBDay{
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
}
.leftpart{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.leftpart>p:nth-child(1){
    font-size: 40px;
    /* font-weight: 900px; */
    line-height: 45px;
    font-weight:semi-bold;
    /* letter-spacing: -1px; */
   
}

.leftpart>p:nth-child(2){
    font-size: 18px;
    line-height: 25px;
    opacity: 0.8;
    padding-top: 10px;
}

.learnmore{
    padding-top:20px ;
    display: flex;
    gap: 10px;
    position: relative;
    align-items: center;
}

.learnmore::after{
    position: absolute;
    content: " ";
    background-color: #25d366;
    height: 2px;
    width: 31%;
    border-radius: 10px;
    transform: translatey(8px);
}

.learnmore>img{
    transform: rotate(180deg);
    width: 10px;
    opacity: 0.8;
}

.beachWaliDidi{
    position: relative;
    width: 500px;
}
.beachWaliDidi >img:nth-child(2){
    width: 350px;
    position: absolute;
    top: 180px;
    bottom: -30px;
    right: 0px;
    left: 10px;    
}
.chat{
    position: relative;
    width: 30%;
}

.chat >img:nth-child(2){
    width: 350px;
    position: absolute;
    top: 160px;
    right:50px;
}
     
.bgchange{
    background-color: #111b21;
    color: white;
}
.speakfreely{
    font-size: 45px;
}
.speakfreely >p:nth-child(2){
    color: #25d366;
}

.footer{
    margin-top: 40px;
    height: 380px;
    background-color: #111b21;
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    /* justify-content:space-evenly; */
    align-items: center;
    gap: 20px;
}
.upper{  
    height: 70%;
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.up1{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
}
.up2,.up3,.up4,.up5 {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    font-weight: bold;
    opacity: 0.8;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul{
    overflow: hidden;
}

ul > li{
   height: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight:bold;
   opacity: 1;
}
li:hover{
    text-decoration: underline;
    cursor: pointer ;
}

hr{
    width: 65%;
    opacity: 0.2;
}
.lower{
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;  
}
.lower > p{
    font-size: 14px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.social>i{
    width: 28px;
    height: 28px;
    border: 1px solid white;
    padding-top:6px ;
    border-radius: 50%;
    background-color: #000000;
    cursor: pointer;
}

select{
    background-color: #111b21;
    color: white;
    padding: 10px 42px 10px 20px;
    border-radius: 20px;
    border: 1px solid wheat;
    appearance: none;
    -webkit-appearance: none;
    position: relative;
    left:128px;
}
.angle-last{
    position: relative;
    right: 2%;
}
.navabar2{
    display: none;
}
.footer2{
    display: none;
}













@media screen and (min-width:320px) and (max-width:480px) {
    .navabar{
        display: none;
    }
    .navabar2{
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .btn{
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background-color: #25d366;
    }
    .whatsApplogo2{
        width:40%;
    }

    .right img:nth-child(4), .right img:nth-child(5), .right img:nth-child(6), .right img:nth-child(7) {
     display: none;
}
.firstSection {
    padding: 0px 20px;
    padding-top: 25px;
    width: 100%;
    height: 110%;
}
.maabeti {
    background-image: url(./whatsApp/MaaBeti.png);
    width: 100%;
   height: 90%;
    background-size: cover;
    border-radius: 20px;
    display: flex;
    flex-direction: column-reverse;
    background-position: center;
}

    .message h1 {
    font-size: 2.5em ;
    line-height: 1em;
    font-weight: 700;
}
.right {
    width: 100%;
    position: relative;
    padding-top: 40px;
    overflow: hidden;
    margin-top:30%;
    height: 35%;

}

.left {
    height: 70%;
    width: 100%;
    padding-left: 5%;
    overflow: hidden;
}
.message {
    color: white;
    display: flex;
    height: 95%;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    /* overflow: hidden; */
}
.navabar > button, .button {
    padding: 12px 30px;
    gap: 8px;
    position: relative;
    bottom: 10% ;
}

.right img:nth-child(3) {
   
    width: 280px;
    height: auto;
    padding-left:5% ;  
}
.secondSection >img {
    width: 80%;
    height: 100%;
    scale: 1.5;
}
.secondSection p {
    text-align: center;
    font-size: 1.6em;
    letter-spacing: -1px;
    font-weight: 400px;
    line-height: -1px;
}
.learnmore::after {
    position: absolute;
    content: " ";
    background-color: #25d366;
    height: 2px;
    width: 22%;
    border-radius: 10px;
    transform: translatey(8px);
}


.firstBDay {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
    padding-top: 40px;
}

.leftpart {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bgchange {
    height: 1100px;
}
.chat {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}
.chat >img:nth-child(2) {
    width: 350px;
    position: absolute;
    top: 160px;
    right: 0%;
    left: 0.2%;
}
.chat >img:nth-child(2) {
    width: 350px;
    position: absolute;
    top: 160px;
    right: 0px;
}
.firstBday2{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
   
}
.leftpart>p:nth-child(2) {
   text-align: center;
}

.footer{
    display: none;
}
hr{
    width: 100%;
}

.footer2{
    width: 100%;
    background-color:#111b21;
    height: 600px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footerbtn{
    height: 10%;
    display: flex;
    flex-direction: column;
  
    justify-content: center ;

}
.footersocial{
    height: 10%;
    display: flex;
    align-items: center;
    gap: 8px;
}
.footerwhats{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    padding-left:4% ;
    height: 60%;
    justify-content: space-around;
}
.footerwhats > img{
    width: 140px;
}
.part_1, .part_2{
    display: flex;
    gap: 40px;
}

.part11>p ,.part12>p ,.part_21>p ,.part_22>p{
    opacity: 0.8;
    font-size: 12px;
    margin-bottom: 5px;
}
.lowerpart{
    width: 90%;
    height: 13%;
    display: flex;
    align-items: center;
}

.lower1{
    width: 50%;
    font-size: 13px;
}


select{
    background-color: #111b21;
    color: white;
    padding: 10px 42px 10px 20px;
    border-radius: 20px;
    border: 1px solid wheat;
    appearance: none;
    -webkit-appearance: none;
    position: relative;
    left:0px;
}

.footselecter{
    width: 50%;
}
.upperangle{
    width: 20px;
    height: 30px;
    position: relative;
    right: 15%;
    top: 3px;
    z-index: 5;
    
}


}


